@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black     : #13131a;
    --bg        : #010103;
    --border    : 0.5rem solid rgba(255, 255, 255, .3);
}

* {
    font-family    : 'Dancing Script', cursive;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    list-style     : none;
    text-decoration: none;
    outline        : none;
    border         : none;
}

/*Barra de scroll*/

html {
    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-padding-top: 9rem;
    scroll-behavior   : smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius   : 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

/* PROGRESO SCROLL */

.progress-bar {
    position  : fixed;
    width     : 100%;
    height    : 0.75rem;
    top       : 0;
    z-index   : 100;
    background: var(--bg);
}

.progress {
    width     : 0%;
    height    : 100%;
    background: var(--main-color);
}

/* BOTÓN SUBIR JS */

#top-progress {
    position     : fixed;
    bottom       : 1.25rem;
    right        : 0.625rem;
    height       : 4.4rem;
    width        : 4.4rem;
    display      : none;
    place-items  : center;
    border-radius: 50%;
    box-shadow   : 0 0 0.625rem var(--black);
    cursor       : pointer;
    z-index      : 1000;
}

#progress-value {
    display         : block;
    height          : calc(100% - .9rem);
    width           : calc(100% - .9rem);
    background-color: var(--main-color);
    border-radius   : 50%;
    display         : grid;
    place-items     : center;
    font-size       : 2.2rem;
    color           : var(--bg);
}

.heading {
    text-align    : center;
    color         : #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size     : 4rem;
}

.heading span {
    color: var(--main-color);
}

/*EFECTO SKEW */

.skew-under {
    position    : absolute;
    bottom      : 0;
    left        : 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent var(--bg) transparent;
}

/*HEADER*/

.btn {
    margin-top: 1rem;
    display   : inline-block;
    padding   : .9rem 3rem;
    font-size : 1.7rem;
    color     : #fff;
    background: var(--main-color);
    cursor    : pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    height         : 12.5rem;
    background     : var(--bg);
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding        : 1rem 7%;
    border-bottom  : var(--border);
    position       : fixed;
    top            : 0.75rem;
    left           : 0;
    right          : 0;
    z-index        : 1000;
}

.header .logo img {
    height: 11.8rem;
}

.header .navbar a {
    margin   : 0 1rem;
    font-size: 2rem;
    color    : #fff;
}

.header .navbar a:hover {
    color         : var(--main-color);
    border-bottom : .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color      : #fff;
    cursor     : pointer;
    font-size  : 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position        : absolute;
    top             : 115%;
    right           : 7%;
    background      : #fff;
    width           : 50rem;
    height          : 5rem;
    display         : flex;
    align-items     : center;
    transform       : scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height        : 100%;
    width         : 100%;
    font-size     : 1.6rem;
    color         : var(--black);
    padding       : 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor      : pointer;
    font-size   : 2.2rem;
    margin-right: 1.5rem;
    color       : var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

.header .cart-items-container {
    position  : absolute;
    top       : 100%;
    right     : -100%;
    background: #fff;
    width     : 35rem;
    height    : calc(100vh - 9.5rem);
    padding   : 0 1.5rem;
}

.header .cart-items-container.active {
    right: 0;
}

.header .cart-items-container .cart-item {
    position   : relative;
    margin     : 2rem 0;
    display    : flex;
    align-items: center;
    gap        : 1.5rem;
}

.header .cart-items-container .cart-item .fa-times {
    position : absolute;
    top      : 1rem;
    right    : 1rem;
    font-size: 2rem;
    cursor   : pointer;
    color    : var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover {
    color: var(--main-color);
}

.header .cart-items-container .cart-item img {
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3 {
    font-size     : 2rem;
    color         : var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color    : var(--main-color);
}

.header .cart-items-container .btn {
    width     : 100%;
    text-align: center;
}

/*INICIO*/

.home {
    min-height         : 100vh;
    display            : flex;
    align-items        : center;
    background         : url(../img/banner.jpg) no-repeat;
    background-size    : cover;
    background-position: center;
}

.home .content {
    max-width : 60rem;
    background: rgba(0, 0, 0, 0.5);
    padding   : 2rem;
    margin-top: 8.5rem;
}

.home .content h2 {
    font-size     : 6rem;
    text-transform: uppercase;
    color         : var(--main-color);
}

.home .content p {
    font-size  : 3.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding    : 1rem 0;
    color      : #eee;
}

.home .content .btn {
    align-items: center;
}

/*NOSOTROS*/

.about .row {
    display    : flex;
    align-items: center;
    background : var(--black);
    flex-wrap  : wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex   : 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color    : #fff;
}

.about .row .content p {
    font-size  : 1.6rem;
    color      : #ccc;
    padding    : 1rem 0;
    line-height: 1.8;
}

/*Slider Swipper Js*/

#container {
    max-width: 119rem;
    margin   : 3rem auto;
}

.swiper {
    width : 100%;
    height: 100%;
}

.swiper-slide {
    width   : 31rem;
    height  : 25rem;
    position: relative;
}

.swiper-slide img {
    width        : 31rem;
    height       : 25rem;
    border-radius: 2rem;
    object-fit   : cover;
}

.autoplay-progress {
    position       : absolute;
    right          : 1rem;
    bottom         : 1rem;
    z-index        : 10;
    width          : 4rem;
    height         : 4rem;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-weight    : bold;
    color          : #fff;
}

.autoplay-progress svg {
    --progress       : 0;
    position         : absolute;
    left             : 0;
    top              : 0;
    z-index          : 10;
    width            : 100%;
    height           : 100%;
    stroke-width     : .4rem;
    stroke           : #fff;
    fill             : none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray : 125.6;
    transform        : rotate(-90deg);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

/*PRODUCTOS*/

.products .box-container {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap                  : 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border    : var(--border);
    padding   : 2rem;
}

.products .box-container .box .icons a {
    height     : 5rem;
    width      : 5rem;
    line-height: 5rem;
    font-size  : 2rem;
    border     : var(--border);
    color      : #fff;
    margin     : .3rem;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    height: 25rem;
}

.products .box-container .box .content h3 {
    color    : #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .stars {
    padding: 1.5rem;
}

.products .box-container .box .content .stars i {
    font-size: 1.7rem;
    color    : var(--main-color);
}

.products .box-container .box .content .price {
    color    : #fff;
    font-size: 2.5rem;
}

.products .box-container .box .content .price span {
    text-decoration: line-through;
    font-weight    : lighter;
    font-size      : 1.5rem;
}

/* CONTACTO*/

.contact .row{
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .input-box{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--bg);
    border: var(--border);
}

.contact .row form .input-box span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}

.contact .row form .input-box input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}





/*----------------------------------------------------------------*/

/*MEDIA QUERIES*/

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position  : absolute;
        top       : 100%;
        right     : -100%;
        background: #fff;
        width     : 30rem;
        height    : calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color    : var(--black);
        display  : block;
        margin   : 1.5rem;
        padding  : 0.5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content    : center;
        text-align         : center
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .swiper-slide {
        width : 20rem;
        height: 15rem;
    }

    .swiper-slide img {
        width : 20rem;
        height: 15rem;
    }
}

@media (max-width: 500px) {

    .swiper-slide {
        width : 15rem;
        height: 10rem;
    }

    .swiper-slide img {
        width : 15rem;
        height: 10rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}