@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --main-color: #d3ad7f;
    --black     : #13131a;
    --bg        : #010103;
    --border    : 0.5rem solid rgba(255, 255, 255, .3);
}

* {
    font-family    : 'Dancing Script', cursive;
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    list-style     : none;
    text-decoration: none;
    outline        : none;
    border         : none;
}

/*Barra de scroll*/

html {
    font-size         : 62.5%;
    overflow-x        : hidden;
    scroll-padding-top: 9rem;
    scroll-behavior   : smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius   : 5rem;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

/*Preloader*/

.hidden {
    overflow: hidden;
}

#preloader {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: black;
    z-index         : 9999;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

#loader {
    border       : 10px solid #f3f3f3;
    border-top   : 10px solid var(--main-color);
    border-radius: 50%;
    width        : 80px;
    height       : 80px;
    animation    : spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* PROGRESO SCROLL */

.progress-bar {
    position  : fixed;
    width     : 100%;
    height    : 0.75rem;
    top       : 0;
    z-index   : 100;
    background: var(--bg);
}

.progress {
    width     : 0%;
    height    : 100%;
    background: var(--main-color);
}

/* BOTÓN SUBIR JS */

#top-progress {
    position     : fixed;
    bottom       : 1.25rem;
    right        : 0.625rem;
    height       : 4.4rem;
    width        : 4.4rem;
    display      : none;
    place-items  : center;
    border-radius: 50%;
    box-shadow   : 0 0 0.625rem var(--black);
    cursor       : pointer;
    z-index      : 1000;
}

#progress-value {
    display         : block;
    height          : calc(100% - .9rem);
    width           : calc(100% - .9rem);
    background-color: var(--main-color);
    border-radius   : 50%;
    display         : grid;
    place-items     : center;
    font-size       : 2.2rem;
    color           : var(--bg);
}

.heading {
    text-align    : center;
    color         : #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size     : 4rem;
}

.heading span {
    color: var(--main-color);
}

/*EFECTO SKEW */

/*.skew-up {
    position    : absolute;
    top         : 0;
    left        : 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: var(--bg) transparent transparent transparent;
    z-index     : 100;
}*/

.skew-under {
    position    : absolute;
    bottom      : 0;
    left        : 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent var(--bg) transparent;
}

/*HEADER*/

.btn {
    margin-top: 1rem;
    display   : inline-block;
    padding   : .9rem 3rem;
    font-size : 1.7rem;
    color     : #fff;
    background: var(--main-color);
    cursor    : pointer;
}

.btn:hover {
    letter-spacing: .2rem;
}

.header {
    position       : fixed;
    top            : 0;
    left           : 0;
    right          : 0;
    z-index        : 1000;
    background     : var(--bg);
    padding        : 1rem 7%;
    height         : 12.5rem;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    border-bottom  : var(--border);
}

.header .logo img {
    height: 11.8rem;
}

.header .navbar a {
    margin   : 0 1rem;
    font-size: 2rem;
    color    : #fff;
}

.header .navbar a:hover {
    color         : var(--main-color);
    border-bottom : .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color      : #fff;
    cursor     : pointer;
    font-size  : 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.header .quantity-cart {
    position   : absolute;
    color      : #fff;
    font-size  : 1.5rem;
    bottom     : 60%;
    margin-left: 1.5rem;
}

.header .search-form {
    position        : absolute;
    display         : inline-flex;
    top             : 115%;
    right           : 7%;
    background      : #fff;
    width           : 40rem;
    height          : 5rem;
    align-items     : center;
    transform       : scaleY(0);
    transform-origin: top;
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    height        : 100%;
    width         : 100%;
    font-size     : 1.6rem;
    color         : var(--black);
    padding       : 1rem;
    text-transform: none;
}

.header .search-form label {
    cursor      : pointer;
    font-size   : 2.2rem;
    margin-right: 1.5rem;
    color       : var(--black);
}

.header .search-form label:hover {
    color: var(--main-color);
}

#searchResults {
    position        : absolute;
    top             : 100%;
    left            : 0;
    width           : 100%;
    margin-top      : 10px;
    background-color: #fff;
    padding         : 1rem;
    font-size       : 2rem;
}

#resetButton {
    margin: 0;
    height: 100%;
}

#resetButton:hover {
    letter-spacing: 0;
    background    : var(--bg);
}

/*Modal detalle productos*/

.modal {
    position  : fixed;
    top       : 50%;
    left      : 50%;
    transform : translate(-40%, -40%);
    width     : 300px;
    max-width : 90%;
    padding   : 20px;
    background: var(--main-color);
    border    : var(--border);
    z-index   : 9999;
}

.modal-content {
    font-size : 1.5rem;
    text-align: center;
}

#modalBody img {
    width: 100%;
}

.close {
    font-size: 3rem;
    cursor   : pointer;
    position : absolute;
    right    : 1rem;
    top      : 0;
    color    : #fff;
}

/*Modal carrito*/

.header .modal-container {
    position  : absolute;
    top       : 100%;
    right     : -100%;
    background: #fff;
    width     : 35rem;
    height    : calc(100vh - 12.5rem);
    padding   : 0 1.5rem;
    overflow  : auto;
}

.header .modal-container.active {
    right: 0;
}

.header .modal-container::-webkit-scrollbar {
    width: .8rem;
}

.header .modal-container::-webkit-scrollbar-track {
    background: transparent;
}

.header .modal-container::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius   : 5rem;
}

.header .modal-container .modal-content {
    position       : relative;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    gap            : 1rem;
}

.header .modal-container .modal-content .delete-product {
    color    : crimson;
    font-size: 1.5rem;
    cursor   : pointer;
}

.header .modal-container .modal-header h2 {
    margin-top   : 1rem;
    font-size    : 3rem;
    border-bottom: .3rem solid var(--main-color);
    text-align   : center;
}

.header .modal-container .fa-times {
    position : absolute;
    top      : 1rem;
    right    : 1rem;
    font-size: 2rem;
    cursor   : pointer;
    color    : var(--black);
}

.header .modal-container .fa-times:hover {
    color: var(--main-color);
}

.header .modal-container .modal-content img {
    height: 5rem;
}

.header .modal-container .modal-content h3 {
    font-size     : 1.3rem;
    padding-bottom: .5rem;
}

.header .modal-container .modal-content .subtotal {
    font-size  : 1.1rem;
    font-weight: 700;
}

.header .modal-container .modal-content .price {
    font-size  : 1rem;
    font-weight: 700;
    color      : crimson;
}

.header .modal-container .modal-content .quantity {
    font-size: 1.3rem;
    color    : var(--black);
}

.header .modal-container .modal-content .increase {
    font-size  : 2.5rem;
    font-weight: 700;
    cursor     : pointer;
    color      : crimson;
}

.header .modal-container .modal-content .box-quantity {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    gap            : .7rem;
    border         : .2rem solid var(--main-color);
    padding        : 0 .5rem;
}

.header .modal-container .modal-content .decrease {
    font-size  : 2.5rem;
    font-weight: 700;
    cursor     : pointer;
    color      : crimson;
}

.header .modal-container .btn {
    width     : 100%;
    text-align: center;
}

.modal-container .parrafo-modal {
    font-size    : 2.5rem;
    margin-bottom: 1.25rem;
    text-align   : center;
}

.modal-container .total-content {
    font-size : 2.5rem;
    border-top: .3rem solid var(--main-color);
    text-align: center;
}



/*Pop up Whislist*/

.popup {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display         : none;
    justify-content : center;
    align-items     : center;
}

.popup-content {
    background-color: #fff;
    font-size       : 2rem;
    padding         : 20px;
    border-radius   : 8px;
    max-width       : 400px;
    text-align      : center;
}

#close-popup {
    margin-top: 10px;
    font-size : 2rem;
    background: var(--main-color);
    padding   : .5rem;
    border    : var(--border);
}

.icons button {
    background-color: var(--bg);
    cursor          : pointer;
    font-size       : 2.5rem;
}

#wishlist-counter {
    position : absolute;
    font-size: 1.5rem;
    top      : 29%;
}

#wishlist-header-button {
    color: white;
}

#wishlist-header-button.has-items {
    color: var(--main-color);
}


.wishlist-btn {
    border     : var(--border);
    background : var(--bg);
    height     : 4.5rem;
    width      : 6rem;
    color      : #fff;
    font-size  : 2rem;
    position   : absolute;
    cursor     : pointer;
    margin-left: 5%;
}

.wishlist-btn.added {
    color: goldenrod;
}

/*INICIO*/

.home {
    min-height         : 100vh;
    display            : flex;
    align-items        : center;
    background         : url(../img/banner.jpg) no-repeat;
    background-size    : cover;
    background-position: center;
}

.home .content {
    max-width : 60rem;
    background: rgba(0, 0, 0, 0.5);
    padding   : 2rem;
    margin-top: 8.5rem;
}

.home .content h2 {
    font-size     : 6rem;
    text-transform: uppercase;
    color         : var(--main-color);
}

.home .content p {
    font-size  : 3.5rem;
    font-weight: lighter;
    line-height: 1.8;
    padding    : 1rem 0;
    color      : #eee;
}

.home .content .btn {
    align-items: center;
}

/*Modalidad*/

.modality h2 {
    color      : #fff;
    text-align : center;
    margin     : 1.5rem 0;
    font-size  : 4rem;
    padding-top: 2rem;
}

.modality .box-container {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-wrap      : wrap;
    gap            : 1rem;
}

.modality .box-container .box {
    text-align   : center;
    border       : var(--border);
    width        : 28rem;
    margin-bottom: 3.5rem;
}

.modality .box-container .box .image {
    margin-bottom: 1rem;
}

.modality .box-container .box .image img {
    width        : 27rem;
    height       : 19rem;
    border-bottom: var(--border);
}

.modality .box-container .box .content h3 {
    color    : #fff;
    font-size: 2.5rem;
    margin   : 1rem 0;
}


/*NOSOTROS*/

.about .row {
    display    : flex;
    align-items: center;
    background : var(--black);
    flex-wrap  : wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex   : 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color    : #fff;
}

.about .row .content p {
    font-size  : 1.6rem;
    color      : #ccc;
    padding    : 1rem 0;
    line-height: 1.8;
}

/*Slider Swipper Js*/

#container {
    max-width: 119rem;
    margin   : 3rem auto;
}

.swiper {
    width : 100%;
    height: 100%;
}

.swiper-slide {
    width   : 31rem;
    height  : 25rem;
    position: relative;
}

.swiper-slide img {
    width        : 31rem;
    height       : 25rem;
    border-radius: 2rem;
    object-fit   : cover;
}

.autoplay-progress {
    position       : absolute;
    right          : 1rem;
    bottom         : 1rem;
    z-index        : 10;
    width          : 4rem;
    height         : 4rem;
    display        : flex;
    align-items    : center;
    justify-content: center;
    font-weight    : bold;
    color          : #fff;
}

.autoplay-progress svg {
    --progress       : 0;
    position         : absolute;
    left             : 0;
    top              : 0;
    z-index          : 10;
    width            : 100%;
    height           : 100%;
    stroke-width     : .4rem;
    stroke           : #fff;
    fill             : none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray : 125.6;
    transform        : rotate(-90deg);
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
}

/*PRODUCTOS*/

.products .box-container {
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    flex-wrap      : wrap;
    gap            : 1rem;
}

.products .box-container .box {
    text-align: center;
    border    : var(--border);
    width     : 20rem;
}

.products .box-container .box .add {
    border       : var(--border);
    background   : var(--bg);
    height       : 4.5rem;
    width        : 6rem;
    color        : #fff;
    font-size    : 2rem;
    margin-bottom: .5rem;
    cursor       : pointer;
    margin-right : 36%;
}

.products .box-container .box .add:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    margin-bottom: 0.5rem;
}

.products .box-container .box .image img {
    width        : 19rem;
    height       : 19rem;
    border-bottom: var(--border);
}

.products .box-container .box .content h3 {
    color    : #fff;
    font-size: 2.5rem;
    margin   : 0.5rem 0;
}

.products .box-container .box .content .price {
    color        : #fff;
    font-size    : 2.5rem;
    margin-bottom: 0.5rem;
}

/* CONTACTO*/

.contact {
    background         : url(../img/banner.jpg) no-repeat;
    background-size    : cover;
    background-position: center;
}

.contact .row {
    display    : flex;
    align-items: center;
    background : var(--black);
    flex-wrap  : wrap;
    gap        : 1rem;
}

.contact .row .map {
    flex      : 1 1 45rem;
    width     : 100%;
    object-fit: cover;
}

.contact .row form {
    flex      : 1 1 45rem;
    padding   : 5rem 2rem;
    text-align: center;
}

.contact .row form .input-box {
    display      : flex;
    align-items  : center;
    margin-top   : 2rem;
    margin-bottom: 2rem;
    background   : var(--bg);
    border       : var(--border);
}

.contact .row form .input-box span {
    color       : #fff;
    font-size   : 2rem;
    padding-left: 2rem;
}

.contact .row form .input-box input {
    width         : 100%;
    padding       : 2rem;
    font-size     : 1.7rem;
    color         : #fff;
    text-transform: none;
    background    : none;
}

/*CHECKOUT*/

.checkout {
    min-height         : 100vh;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    background         : url(../img/banner.jpg) no-repeat;
    background-size    : cover;
    background-position: center;
}

.title-checkout {
    color         : #fff;
    text-transform: uppercase;
    margin-right  : 40%;
    font-size     : 3rem;
}

.checkout form {
    margin-top: 10rem;
    flex      : 1 1 45rem;
    padding   : 5rem 2rem;
    text-align: center;
}

.checkout form .input-box {
    display      : flex;
    align-items  : center;
    margin-top   : 2rem;
    margin-bottom: 2rem;
    background   : var(--bg);
    border       : var(--border);
}

.checkout form .input-box span {
    color       : #fff;
    font-size   : 2rem;
    padding-left: 2rem;
}

.checkout form .input-box input {
    width         : 100%;
    padding       : 1rem;
    font-size     : 1.7rem;
    color         : #fff;
    text-transform: none;
    background    : none;
}

/* FOOTER*/

.footer {
    background: var(--black);
    text-align: center;
}

.footer .social {
    padding: 1rem 0;
}

.footer .social a {
    font-size: 2rem;
    color    : #fff;
    margin   : .3rem;
    padding  : .7rem;
}

.footer .social a:hover {
    background-color: var(--main-color);
}

.footer .links {
    display        : flex;
    justify-content: center;
    flex-wrap      : wrap;
    margin-bottom  : 1rem;
    gap            : 1rem;
}

.footer .links a {
    padding  : .7rem 2rem;
    color    : #fff;
    font-size: 2rem;
}

.footer .links a:hover {
    background: var(--main-color);
}

.footer .payment {
    margin-bottom: 1rem;
}

.footer .developed p {
    font-size    : 2rem;
    color        : #fff;
    margin-bottom: 2rem;
}

.footer .developed img {
    width        : 20rem;
    height       : 7rem;
    margin-bottom: 2rem;
}

/*----------------------------------------------------------------*/

/*MEDIA QUERIES*/

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px) {

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position  : absolute;
        top       : 100%;
        right     : -100%;
        background: #fff;
        width     : 30rem;
        height    : calc(100vh - 9.5rem);
    }

    .header .navbar.active {
        right: 0;
    }

    .header .navbar a {
        color    : var(--black);
        display  : block;
        margin   : 1.5rem;
        padding  : 0.5rem;
        font-size: 2rem;
    }

    .header .search-form {
        width: 90%;
        right: 2rem;
    }

    .home {
        background-position: left;
        justify-content    : center;
        text-align         : center
    }

    .home .content h3 {
        font-size: 4.5rem;
    }

    .swiper-slide {
        width : 20rem;
        height: 15rem;
    }

    .swiper-slide img {
        width : 20rem;
        height: 15rem;
    }
}


@media (max-width: 500px) {

    .swiper-slide {
        width : 15rem;
        height: 10rem;
    }

    .swiper-slide img {
        width : 15rem;
        height: 10rem;
    }

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
    }
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }
}